<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <import resource="database-config.xml" />
    <!--
        <import resource="security-config.xml" />
    -->

    <context:component-scan base-package="boodater.service" />
    <context:component-scan base-package="boodater.dao" />
    <context:component-scan base-package="boodater.schedule" />

    <context:property-placeholder location="classpath:torrent.properties" ignore-unresolvable="true"/>
    <bean id="torrentProperties" class="boodater.model.TorrentProperties">
        <property name="savePath" value="${torrent.savePath}" />
    </bean>

</beans>
